@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  * {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: rgb(215, 208, 184);
  }

  #wrap {
    background-color: white;
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #header1>h1 {
    color: #544866;
    font-family: 'Lilita One';
    font-size: 43px;
    margin-top: 40px;
  }

  #header1 {
    background-color: white;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #section {
    overflow-x: hidden;
    overflow-y: auto;
    height: 790px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;
  }

  #menu1 {
    margin-bottom: 20px;
    background-color: #FFEDD2;
    border-radius: 10px;
    width: 380px;
    height: 180px;
    color: #4f4f4f;
    text-align: left;
    padding-left: 20px;
  }

  #swurecipe {
    font-size: larger;
    background-color: white;
    height: 30px;
    width: 170px;
    border: none;
    border-radius: 10px;
    font-family: 'SEBANG_Gothic_Bold';
  }

  .toggle {
    border: 5px #ff7676;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
  }

  #ggim {
    color: #ff7676;
    border: 1px #ff7676;
    cursor: pointer;
  }

  i {
    background-color: transparent;
  }

  .fa-regular.fa-heart {
    font-size: 20px;
  }

  #update{
    font-family: 'SEBANG_Gothic_Bold';
    font-size: 15px;
    color: #544866;
    text-align: center;
    height: 25px;
    width: 40px;
    border: none;
    background-color: #ffc9c9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-left: 30px;
  }

  #delete {
    font-family: 'SEBANG_Gothic_Bold';
    font-size: 15px;
    color: #544866;
    text-align: center;
    height: 25px;
    width: 40px;
    border: none;
    background-color: #ffc9c9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-left: 10px;
  }

  #update:hover,
  #delete:hover {
    background-color: #faacac;
    transition: 0.3s;
  }

  #footer1 {
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
  }

  #write {
    font-family: 'SEBANG_Gothic_Bold';
    font-size: 20px;
    color: #544866;
    text-align: center;
    height: 60px;
    width: 200px;
    border: none;
    background-color: #bbe4bf;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  #write:hover {
    background-color: rgb(148, 225, 148);
    transition: 0.7s;
  }

  #footer2 {
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #menu,#recipe,#my {
    font-size: larger;
    text-align: center;
    background-color: white;
    height: 10px;
    width: 170px;
    border: none;
    font-family: 'SEBANG_Gothic_Bold';
    margin: 0 10px;
  }

  .link {
    font-size: larger;
    text-align: center;
    background-color: white;
    height: 10px;
    width: 170px;
    border: none;
    font-family: 'SEBANG_Gothic_Bold';
    margin: 0 10px;
    color: #000000;
    text-decoration: none; /* 하이퍼링크 밑줄 제거 */
}

    .button-container {
        display: flex;
    }

    .button-container form {
        margin-right: 10px;
    }
