{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/recipe.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>SWU Beetle Juice Order System</title>
</head>
<body>
    <div id="wrap">
        <div id="header1"><br><br><h1>Swuni's Recipe</h1><br></div>
        <div id="section" style="overflow-x:hidden; height:790px; width:600px;">
            {% for post in post_list %}
            <div id="menu1">
                <br><h3 id="name">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ post.swuniName }}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a id="swurecipe">&nbsp&nbsp&nbsp&nbsp{{ post.title }}&nbsp&nbsp&nbsp&nbsp</a></h3>
                <br><h3 id="post">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ post.body }} <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h3>
                {% if request.user == post.swuniName %}
                    <div class="button-container">
                        <form method="GET" action="{% url 'post:post-update' post.id %}">
                                <button id="update" type="submit">수정</button>
                        </form>
                        <form action="{% url 'post:post-delete' post.id %}" method="POST">
                            {% csrf_token %}
                            <button id="delete" type="submit">삭제</button>
                        </form>
                    </div>
                    {% endif %}
                    <form action="{% url 'post:post-like' post.id %}" method='POST'>
                        {% csrf_token %}
                        {% if request.user in post.like.all %}
                            <div class="toggle"><button id="ggim"><i class="fa-solid fa-heart"></i></button></div>
                        {% else %}
                             <div class="toggle"><button id="ggim"><i class="fa-regular fa-heart"></i></button></div>
                        {% endif %}
                    </form>
                </div>
            {% endfor %}
        </div>
            <div id="footer1">
                <button type="button" id="write" onclick="location.href='{% url 'post:post-create' %}'">작성하기</button>
            </div>
            <div id="footer2">
                <a href="http://127.0.0.1:8000/" class="link" id="menu">메뉴</a>
                <a href="http://127.0.0.1:8000/post/" class="link" id="recipe">레시피</a>
                <a href="http://127.0.0.1:8000/users/{{ request.user.pk }}/likes/" class="link" id="my">마이</a>
            </div>
        </div>
    </div>
    <script src="{% static '/js/recipe.js'%}"></script>
</body>
</html>