{% load static %}


<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/mypageLikes.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <title></title>
    <body>
        <div id="wrap">
            <div id="header1">
                <button type="button" id="headerA" onclick="location.href='http://127.0.0.1:8000/users/{{request.user.pk}}/orders'">주문내역</button>
                <button type="button" id="headerB" onclick="location.href='http://127.0.0.1:8000/users/{{request.user.pk}}/likes'">찜한목록</button>
            </div>
            <div id="section" style="overflow-x:hidden; height:790px; width:600px;">
                <div id="menumenu">
                 {% for like in likes %}
                <div id="menu">
                    <br>
                    <h4 id= title>{{ like.title }}</h4>
                    <h3 id="username">레시피 by {{like.swuniName.userName}}
                </h3>
                <br><h4>
                    <h4 id="day">{{like.regTime}}
                    </h4>
                    <a id="ggim"><i class="fa-solid fa-heart fa-lg"></i></a>
                    <br>
                </h4>
                </div>
            </div>
                {% endfor %}
                <div id="lastfooter">
                    <a href="http://127.0.0.1:8000/" class="link" id="lastfooter1">메뉴</a>
                    <a href="http://127.0.0.1:8000/post/" class="link" id="lastfooter2">레시피</a>
                    <a href="http://127.0.0.1:8000/users/{{request.user.pk}}/likes/" class="link" id="lastfooter3">마이</a>
                </div>
            </div>
        </div>
    </body>
    <script src="{% static 'js/mypageLikes.js' %}"></script>
</html>