<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>orders</title>
</head>
<body>
    <h1>마이페이지 - 주문목록</h1>
    <div>
        {% for order in orders %}
            {% for order_product in order.products.all %}
                <p>
                    {{ order_product.cart_product.cartProduct.productName}} -
                    {{ order_product.cart_product.cartProductCount }},
                </p>
            {% endfor %}
        <h2>{{ order.cart.swuni.userName }}</h2>
        <h3>{{ order.order_status }}</h3>
        <div>{{ order.order_time }}</div>
        <hr>
        {% endfor %}
    </div>
</body>
</html>