{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>SWU Beetle Juice Order System</title>
        <link rel="stylesheet" href="{% static '/css/create_product.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
        <div class="back"><a href="http://127.0.0.1:8000/manager/"><img src="{% static '/back.png' %}"></a></div>
        <div>
            <h1>Product registration</h1>
        </div>
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
          <div id="wrap">
            <h2>상품명</h2>
            <div class="box">
                <input type="text" name="productName" value="{{ product.productName }}">
            </div>
            <h2>상품 상세설명</h2>
            <div class="box">
                <input type="text" name="productDetail" value="{{ product.productDetail }}">
            </div>
            <h2>상품 가격</h2>
            <div class="box">
                <input type="number" name="productPrice" value="{{ product.productPrice }}">
            </div>

            <h2 style="margin-bottom: 20px; margin-top: 20px;"> 상품 이미지</h2>

            <div class="box2">
              <div class="button">
                  <label for="chooseFile">
                      <p>👉CLICK HERE👈</p>
                  </label>
              </div>
              <input type="file" id="chooseFile" name="productImage" accept="image/*" onchange="loadFile(this)"
                      value="{{ product.productImage }}">
              <div class="image-show" id="image-show"></div>
            </div>
            <h2 style="margin-bottom: 20px; margin-top: 20px;"> ICE / HOT </h2>
            <div class="box">
                <label>
                    <input type="radio" name="productTemp" value="ICE" checked>
                    ICE
                  </label>

                  <label>
                    <input type="radio" name="productTemp" value="HOT">
                    HOT
                </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">등록</button>
        </form></div>

        <script src="{% static '/js/create_product.js' %}"></script>
    </body>
</html>
