<html>
  <head>
    <title>상품 등록</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
  </head>
  <body>
  <div class="container">
    <h1>상품 등록</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                  <h5>상품명</h5>
                  <input type="text" name="productName" value="{{ product.productName }}">
                </div>
                <div>
                  <h5>상품 가격</h5>
                  <input type="number" name="productPrice" value="{{ product.productPrice }}">
                </div>
                <div>
                  <h5>상품 이미지</h5>
                  <input type="image" name="productImage" value="{{ product.productImage }}">
                </div>
                <div>
                  <h5>ICE / HOT (checked = ICE)</h5>
                </div>

<!--                <form method="POST" enctype="multipart/form-data">-->
<!--                    {% csrf_token %} {{ form.as_p }}-->
                <button type="submit" class="btn btn-primary">등록</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>