{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>SWU Beetle Juice Order System</title>
  <link rel="stylesheet" href="{% static '/css/first_admin.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>Administrator Page</h1>
    <a href="http://127.0.0.1:8000/order/admin/"> <button>주문 내역 확인</button></a>
    <a href="http://127.0.0.1:8000/create/"> <button>상품 등록 </button></a>
  </div>
</body>
</html>