<!DOCTYPE html>
<html>
<head>
    <title>상품 목록</title>
</head>
<body>
    <h1>상품 목록</h1>
    <ul>
        {% for product in product_list %}
            <li>{{ product.name }} - 가격: {{ product.price }}</li>
        {% endfor %}
    </ul>
    <h2>장바구니에 상품 추가하기</h2>
    <form method="post" action="{% url 'cart:addProduct_cart' %}">
        {% csrf_token %}
        <input type="hidden" name="product_id" value="{{ product.id }}">
        <!-- 필요한 경우 다른 필드를 추가하세요 -->
        <button type="submit">장바구니에 추가</button>
    </form>
</body>
</html>
